/* Общие стили */
.popupWindow {
    display: none;
    position: absolute;
    z-index: 99999;
}
.popupWindow:before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2.5px);
    z-index: 9999;
}

.popupTab
{
    position: fixed;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99999;
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 2.5rem;
}

.popupWindow__title
{
    font-size: 30px;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color:black;
}
.popupWindow__subtitle
{
    font-size: 22px;
    margin-bottom: .6rem;
    font-weight: 400;
    color:black;
}
.popupWindow__text
{
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #646464;
}

.popupWindow__combinedTitle
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.popupWindow__combinedTitle p
{
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.popup_close {
    position: absolute;
    padding: 1rem;
    right: 1rem;
    top: 1em;
    cursor: pointer;
}

.popup-column-holder
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.popup-holder
{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
}

/* Модалка ИЗМЕНИТЬ ЦЕНУ */
.popupChangePrice_close {
    position: absolute;
    padding: 1rem;
    right: 1rem;
    top: 1em;
    cursor: pointer;
}

.changePriceTab {
    width: 580px;
}

.summary_holder
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.changePriceTab_summary
{
    font-weight: 500;
    font-size: 22px;
}

#changePriceTab_startPrice
{
    font-weight: 400;
    font-size: 22px;
}
#changePriceTab_summaryPrice
{
    font-weight: 500;
    font-size: 22px;
}

.changePriceTab__input {
    border: 1px solid #D9D9D9;
    margin-bottom: 2rem;
    width: 36rem;
    border-radius: 0.6rem;
}
.changePriceTab__input textarea {
    resize: none;
    padding-bottom: 0.3rem;
    font-size: 1.7rem;
    border: none;
    width: 100%;
    padding: 1rem;
    min-height: 80px;   
    /*max-height: 300px;*/      
}

.image-circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-image
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#changePriceInputBtn
{
    background-color: white;
    width: 100%;
    color: #848484;
}
/* Неактивное состояние (серый) */ 
#changePriceInputBtn.disabled-state {
    cursor: not-allowed;
    pointer-events: none;
    color: #777777; 
}

/* Pre-ready-state */
#changePriceInputBtn.pre-ready-state {
    background-color: #D9D9D9;
    cursor: not-allowed;
    pointer-events: none;
}

/* Полностью активное */
#changePriceInputBtn.active-state {
    cursor: pointer;
    background-color: #6F1B2D;
    color:#FFFFFF;
}

.changePriceValueHolder
{
    grid-template-columns: 1fr 1fr;
    margin-block: 25px;
    display: grid;
    gap: 15px;
    align-items: start;
}
.changePriceValueHolder label
{
    font-size: 17px;
    font-weight: 400;
    color: #848484;
    margin-bottom: 10px;
}
.form-group
{
    display: flex;
    flex-direction: column;

}
.value-field {
  display: flex;
  align-items: center;
}
.priceValueInput
{
    min-width: auto;
    width: 100%;
    height: 100%;
    padding: 16px 28px;
}

.style-select
{
    padding: 16px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    font-size: 18px;
    color: #43434380;
    height: 100%;
    line-height: 120%;
    width: 100%;
}
.style-select::placeholder {
    color: rgba(67, 67, 67, .3);
}
.style-select option {
    color: #434343;
}

.number-panel {
  margin-block: 20px;
}
.number-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calcBtn
{
    width: 150px;
    height: 90px;
    font-size: 42px;
    font-weight: 600;
    padding: 18px 20px;
    border-radius: 9px;
    background-color: #E6DADC;
    color: #945C67;
    align-content: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s ease-in-out;
}
.calcBtn[disabled]
{
    background-color: #EDEDED;
    color: #848484;
}

#clearBtn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #671626CC;
}
#clearBtn[disabled]
{
    background-color: #D9D9D9;
    color: #777777;
}

#backspaceBtn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #671626CC;
}
#backspaceBtn[disabled]
{
    background-color: #D9D9D9;
    color: #777777;
}

#signDisplay {
    font-size: 22px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #434343;
    /* font-weight: bold; */
    pointer-events: none;
}
#input-suffix {
    font-size: 22px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #42424280;
    /* font-weight: bold; */
    pointer-events: none;
}
.input-prefix {
    font-size: 22px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #42424280;
    pointer-events: none;
}

  /* Убираем стрелки в Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Убираем стрелки в Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

.input-container 
{
  position: relative;
  height: 100%;
}

.styled-input {
  width: 100%;
  padding: 12px 50px 12px 25px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.close-icon
{
    width: 22px;
    height: auto;
}

/* Модалка ВЗЯТЬ В РАБОТУ */
.popupPutToWork_close {
    position: absolute;
    padding: 1rem;
    right: 1rem;
    top: 1em;
    cursor: pointer;
}

.putToWorkTab
{
    width: 530px;
}

/* ВЫХОД БЕЗ СОХРАНЕНИЯ */
#popup_exit_without_saving
{
    
}

.exitWithoutSavingTab
{
    width: 350px;
}

/*СПРАВКА В ВИТРИНА ПЕРЕБРАТЬ */
.annotationWindow
{
    display: none;
    position: absolute;
    z-index: 99999;
}

.annotationTab
{
    position: fixed;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99999;
    background-color: #E8E8E8;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 600px;
}

.annotation__title
{
    font-size: 22px;
    font-weight: 500;
    color: #567AFB;  
}

.annotation__list
{
    list-style-type: disc;
}
.annotation__list li
{
    list-style: disc;
    margin-left: 20px;
    margin-block: 10px;
}

/* МОДАЛКА СОХРАНИТЬ ИЗМЕНЕНИЯ В ПЕРЕСБОРКЕ */
.saveChangesTab
{
    width: 530px;
}

.saveChangesTab_holder
{
    display: flex;
    height: 60px;
    justify-content: space-between;
    gap: 25px;
    margin-top: 20px;
}
/*МОДАЛКА ИЗМЕНИТЬ КОЛИЧЕСТВО*/
.countValueInput
{
    min-width: auto;
    width: 100%;
    padding: 16px 28px;
    text-align: center;
} 

.countBtn
{
    width: 150px;
    height: 90px;
    font-size: 42px;
    font-weight: 600;
    padding: 18px 20px;
    border-radius: 9px;
    background-color: #E6DADC;
    color: #945C67;
    align-content: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s ease-in-out;
}

#backspaceCount_Btn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #671626CC;
}
.clear-image
{
    width: 45px;
}

#changeCountInput_Btn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #719D18;
    border: unset;
}
/* Неактивное состояние (серый) */ 
#changeCountInput_Btn.disabled-state {
    cursor: not-allowed;
    pointer-events: none;
    color: #777777;
    background-color: #ACACAC99; 
}
/* Полностью активное */
#changeCountInput_Btn.active-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #719D18;
}
.tick-image
{
    width: 25px;
}

/* Модалка ПОСТАВИТЬ НА ВИТРИНУ */
.putToVitrinTab
{
    width: 580px;
}

.bouquet-photo-area
{
    justify-self: center;
    aspect-ratio: 25 / 24;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
}
.bouquet-photo-holder
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.delete-bouquet-Btn
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0%;
    right: 0%;
    background-color: #D9D9D9;
    border-bottom-left-radius: 9px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.upload-photo-btn
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #6F1B2D;
    background: #E2D2D5;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;

    user-select: none; /* для современных браузеров */
    -webkit-user-select: none; /* для Safari/Chrome */
    -moz-user-select: none; /* для Firefox */
    -ms-user-select: none; /* для IE/Edge */
}


.popup-holder-2
{
    height: 60px
}

.bouquet-photo
{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.image-loader
{
    position: absolute;
}
.image-loader-svg {
  animation: spin 1s linear infinite; /* Название анимации, длительность, линейное вращение, бесконечно */
}

/* Определение ключевых кадров */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Модалка ГРАФИК ПОЛИВКИ */
.water-schedule-toggle
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 180px;
    color: #434343cc;
    font-size: 24px;
    font-weight: 400;
}

.water-schedule-toggle label
{
    display: flex;
    align-items: center;
    gap: 12px
}


.water-schedule-toggle input
{
    width: 20px;
    height: 20px;
}

/* Попап УСПЕШНО ВЫЛОЖЕНО НА ВИТРИНУ */
.putToVitrinSuccessTab
{
    width: 510px;
}

.success-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

/* МОДАЛКА ДАТЬ ЗП КУРЬЕРУ */
.giveSalaryTab
{
    width: 647px;
}
.salary-field
{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    height: 64px;
}
.courier-salary-name
{
    font-size: 18px;
    color: #434343;
    margin-bottom: 1.5rem;
}

.courier-balance-holder
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
}
.courier-balance-title
{
    font-size: 18px;
    color: #848484;
}
.courier-balance-span
{
    font-size: 24px;
    color: #434343;
}
.giveSalaryTab_holder
{
    display: flex;
    height: 68px;
    margin-top: 20px;
}

/* МОДАЛКА ВЫКЛЮЧИТЬ КУРЬЕРА */
.disableCourierTab
{
    width: 550px;
}
.disableCourierTab_holder
{
    display: flex;
    height: 64px;
    justify-content: space-between;
    gap: 25px;
    margin-top: 20px;
}