/* ОБЩИЙ */
.tableItem
{
    height: 47px;
    align-content: center;
    padding: 5px;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid #D9D9D9;
    color:black;
}

.table_delete_Btn
{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.table_delete_Btn.disabled
{
    filter: grayscale(1);
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

/* ТАБЛИЦА СОСТАВА СБОРКИ */
.table-sborka
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.c-name
{
    width: 61%;
}
.c-price
{
    width: 13%;
    color: #848484;
}
.c-count
{
    width: 13%;
}
.c-total
{
    width: 13%;
}
.c-header
{
    font-size: 15px;
    color: #848484;
	/* width: 100%; */
    text-align: left;
    height: 35px;
}


/* ТАБЛИЦА ЛОГИРОВАНИЯ ИЗМЕНЕНИЙ */
.table-changes-log
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}
.l-action
{
    width: 47%;
    color:#434343;
}
.l-person
{
    width: 33%;
    color: #434343;
}
.l-data
{
    width: 20%;
    color: #939393;
}
.l-header
{
    font-size: 15px;
    color: #848484;
    text-align: left;
    height: 35px;
}

/* ТАБЛИЦА ПЕРЕСБОРКИ */
.table-peresborka
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.table-peresborka tbody tr:hover
{
    background-color: #f5f5f5;
}

.p-name
{
    width: 60%;
    color:#434343;

}
.p-spisatAction
{
    width: 10%;
    text-align: center;
}
.p-spisatCount
{
    width: 10%;
    color: #939393;
    text-align: center;
}
.p-total
{
    width: 10%;
    color: #939393;
    text-align: center;
}
.p-empty
{
    width: 10%;
    color: #939393;
    text-align: center;
}
.p-empty .table_delete_Btn
{
    width: 17px;
}

.p-header
{
    font-size: 15px;
    color: #848484;
    text-align: center;
    height: 35px;
}

.spisat_bouquet_Checkbox
{
    width: 28px;
    height: 28px;
}

.delete_sborka_item_Btn
{
    width: 17px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.delete_sborka_item_Btn_disabled
{
    width: 17px;
    filter: grayscale(1);
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

/* ТАБЛИЦА ПРОДУКТОВ */
.table-item-product
{
    border-spacing: 0px;
    width: 100%;
}

.table-item-product tbody tr:hover
{
    background-color: #E5E5E5;
}

.table-item-product-name
{
    padding-inline: 20px;
    width: 57%;
}
.table-item-product-price
{
    width: 13%;
    color: #848484;
}
.table-item-product-count
{
    width: 10%;
}
.table-item-product-total
{
    width: 10%;
}
.table-item-product-empty
{
    text-align: center;
    width: 10%;
}

/* ТАБЛИЦА ПОЛИВ */
.table-poliv
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.w-number
{
    width: 25%;
    color:#434343;
    font-size: 24px;
}
.w-price
{
    width: 70%;
    text-align: left;
    font-size: 18px;
    color: #424242cc;
}
.w-empty
{
    width: 10%;
    color: #939393;
    text-align: center;
}

.w-header
{
    font-size: 15px;
    color: #848484;
    text-align: left;
    height: 35px;
}

/* ТАБЛИЦА ПОЛИВ СРЕЗКИ */
.table-poliv-srezka
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.ps-photo
{
    width: 8%;
    color:#434343;
    font-size: 24px;
}
.ps-sborka
{
    width: 10%;
    text-align: left;
    font-size: 18px;
    color: #424242cc;
}
.ps-status
{
    width: 20%;
    color: #939393;
}
.ps-date
{
    width: 20%;
    color: #424242;
}
.ps-date.expired
{
    color: #C04F55;
}
.ps-date.inTime
{
    color: #848484;
}

.ps-responsible
{
    width: 30%;
    color: #434343;
}

.ps-header
{
    font-size: 17px;
    color: #848484;
    text-align: left;
    height: 35px;
}

/* ТАБЛИЦА ЧАСТОТА СМЕНЫ ВОДЫ У БУКЕТОВ (НАСТРОЙКИ) */
.table-frequency-water-settings
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.fw-number
{
    width: 5%;
    color: #AAAAAA;
    font-size: 16px;
}
.fw-name
{
    width: 50%;
    text-align: left;
    font-size: 18px;
    color: #424242cc;
}

.fw-daysAmount
{
    width: 10%;
}

.fw-empty
{
    width: 30%;
    color: #939393;
    text-align: end;
}

.fw-empty .table_delete_Btn
{
    width: 20px;
    margin-inline: 20px;
}

.fw-header
{
    font-size: 17px;
    color: #848484;
    text-align: left;
    height: 35px;

    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}

.frequency-table-inputs
{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    font-size: 18px;
    color: #434343;
    padding-inline: 20px;
}

.name_frequency_input:disabled
{
    color: #42424280;
}

.name_frequency_input:focus
{
    color: #000000;
}

.daysAmount_frequency_input
{
    text-align: center;
}

.table-frequency-water-settings tr
{
    height: 60px;
}

.table-body-holder
{
    max-height: 310px;
    overflow-y: auto;
}

/* ТАБЛИЦА КУРЬЕРЫ */
.table-courier
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
    font-size: 18px;
}
.table-courier td
{
    padding-block: 10px;
    color: #424242;
}
.table-courier th
{
    border-bottom: unset;
}

.courier-name
{
    width: 40%;
}
.courier-phone
{
    width: 14%;
    color: #848484 !important;
}
.courier-active-orders
{
    width: 8%;
    color: #848484 !important;
}
.courier-orders
{
    width: 5%;
    color: #848484 !important;
}
.courier-rating
{
    width: 5%;
    text-align: center;
}
.courier-header
{
    font-size: 17px;
    color: #848484;
    text-align: left;
    height: 35px;
}

.courier-name-content
{
    display: flex;
    align-items: center;
    gap: 15px;
}
.courier-status-circle
{
    width: 10px;
    height: 10px;
    background-color: #628222;
    border-radius: 50%;
}
.courier-avatar-holder
{
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
}
.courier-avatar-image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ТАБЛИЦА ВСЕ ЗАКАЗЫ КУРЬЕРА */
.table-courier-orders
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
    font-size: 18px;
}
.table-courier-orders td
{
    padding-block: 10px;
    color: #424242;
}
.table-courier-orders th
{
    border-bottom: unset;
}
.table-courier-orders tr.delivered td {
  color: grey;
}

.courier-order-id
{
    width: 10%;
}
.courier-order-adress
{
    width: 30%;
}
.courier-order-data
{
    width: 5%;
}
.courier-order-status
{
    width: 15%;
}
.courier-order-income
{
    width: 5%;
    text-align: center;
}
.courier-orders-header
{
    font-size: 17px;
    color: #848484 !important;
    text-align: left;
    height: 35px;
}

/* ТАБЛИЦА ОПЕРАЦИИ КУРЬЕРА */
.table-courier-operations
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
    font-size: 18px;
}
.table-courier-operations td
{
    padding-block: 10px;
    color: #424242;
}
.table-courier-operations th
{
    border-bottom: unset;
}

.courier-operation-id
{
    width: 5%;
    color: #D9D9D9 !important;
}
.courier-operation-type
{
    width: 10%;
    color: #777777 !important;
}
.courier-operation-responsible
{
    width: 40%;
}
.courier-operation-sum
{
    width: 10%;
}
.courier-operation-data
{
    width: 5%;
    color: #929292 !important;
    text-align: center;
}
.courier-operations-header
{
    font-size: 17px;
    color: #848484 !important;
    text-align: left;
    height: 35px;
}


/* ТАБЛИЦА СБОРКА ЗАКАЗА В МОДУЛЕ КУРЬЕРОВ/ДОСТАВКИ */
.table-sborka-delivery
{
    border-spacing: 0px;
    width: 100%;
}

.table-sborka-delivery .photo
{
    display: flex;
    height: 100%;
}

.table-sborka-delivery-photo-holder
{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    overflow: hidden;
}

.tableItem .name > div {
    position: relative;
    padding-top: 80px; /* подберите по необходимости */
}

.tableItem .name ul {
    margin-top: 10px; /* чтобы список комфортно начинался ниже блока */
}

.table-sborka-delivery-bouquete-delay
{
    align-content: center;
    position: absolute;
    padding: 5px;
    height: 65px;
    min-height: fit-content;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    top: 2%;
    left: 0;
}
.table-sborka-delivery-bouquete-composition-list
{
    padding-top: 70px;
    color:#434343CC;
    font-size: 16px;
    font-weight: 400;
    margin-block: 3px;
}
.table-sborka-delivery-bouquete-composition-list li
{
    margin-block: 5px;
}

.table-sborka-delivery .name
{
    width: 61%;
    position: relative;
}
.table-sborka-delivery .price
{
    width: 13%;
    color: #848484;
    white-space: nowrap;
    position: relative;
}
.table-sborka-delivery .count
{
    width: 13%;
    position: relative;
}
.table-sborka-delivery .total
{
    width: 13%;
    white-space: nowrap;
    position: relative;
}

.table-sborka-delivery .header
{
    font-size: 15px;
    color: #848484;
	/* width: 100%; */
    text-align: left;
    height: 35px;
}


/* ТАБЛИЦА ПАРМЕТРЫ В МОДУЛЕ (НАСТРОЙКИ ПРИЛОЖЕНИЯ) КУРЬЕРОВ/ДОСТАВКИ */
.table-app-settings-delivery-parameters
{
    border-spacing: 0px;
    width: 100%;
}

.table-app-settings-delivery-parameters .padding
{
    padding-block: 20px;
}

.table-app-settings-delivery-parameters .parameter-type
{
    width: 45%;
}
.table-app-settings-delivery-parameters .writes-count
{
    text-align: center;
    width: 15%;
    color: #373737CC;
    white-space: nowrap;
}
.table-app-settings-delivery-parameters .last-update
{
    width: 15%;
    color:#3737379a;
}
.table-app-settings-delivery-parameters .empty
{
    width: 15%;
    white-space: nowrap;
}

.table-app-settings-delivery-parameters .header
{
    font-size: 16px;
    color: #777777;
    text-align: left;
    height: 35px;
    border-bottom: unset;
}


/* ТАБЛИЦА ПРИЧИНЫ ОШИБКИ В МОДУЛЕ (НАСТРОЙКИ ПРИЛОЖЕНИЯ) КУРЬЕРОВ/ДОСТАВКИ */
.table-error-cause
{
    margin-top: 10px;
    border-spacing: 0px;
    width: 100%;
}

.table-error-cause .number
{
    width: 1%;
    color: #AAAAAA;
}

.table-error-cause .cause
{
    width: 70%;
}

.table-error-cause .salary
{
    width: 20%;
    text-align: center;
}

.table-error-cause .empty
{
    width: 10%;
}

.table-error-cause .header
{
    font-size: 16px;
    color: #777777;
    text-align: left;
    height: 35px;
    border-bottom: unset;
}
.table-error-cause .header.salary
{
    text-align: center;
}

.give-salary-checkbox
{
    accent-color: #719d18;
    width: 28px;
    height: 28px;
}

.delete-parameter-btn
{
    filter: grayscale(1);
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
}
.delete-parameter-btn:hover
{
    filter: grayscale(0);
    opacity: 100%;
}